[user]
email = ahobsonsayers@gmail.com
name = Arran Hobson Sayers

[core]
excludesfile = ~/.gitignore
editor = nano

[pull]
rebase = false

[include]
path = .gitconfig.local

[safe]
# Android
directory = /storage/emulated/0/Documents/ArranScripts

[credential "https://github.com"]
helper = !gh auth git-credential

[credential "https://gist.github.com"]
helper = !gh auth git-credential

