[user]
email = ahobsonsayers@gmail.com
name = Arran Hobson Sayers

[core]
excludesfile = ~/.gitignore
editor = nano

[pull]
rebase = false

[credential "https://github.com"]
helper = !gh auth git-credential

[credential "https://gist.github.com"]
helper = !gh auth git-credential
